.avatar {
  margin: 0 auto;
}

.avatarContainer {
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
}

.block {
  margin-top: 16px;
}

.skeleton {
  margin-top: 15px;
}

.icon {
  margin-right: 8px;
}

.articleInfo {
  display: flex;
  align-items: center;
}