.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #314692;
  --primary-color: #526ed3;
  --secondary-color: #ebefff;
  --inverted-primary-color: #d8ddf2;
  --inverted-secondary-color: #3c61e3;
}
