.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
}

.appName {
  width: var(--sidebar-width);
  margin-left: -5px;
}

.left {
  display: flex;
  align-items: center;
}
